<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head') %>
    </head>
    
    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <div class="banner">
            <div class="capa"></div>
        </div>
        
        <section class="nuevos-ingresos">
            <h3>Equipos Europeos</h3>
            <section class="articulos-nuevos">
            <% equiposEuropeos.forEach(function(product){ 
                let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
            %>
           
            <div class="articulo">
                <div class="cajaImagenArticulo">
                    <a href="/products/detail/<%=product.id%>">
                    <img class="imagenarticulo" src="/img/products/<%= product.image %>"" alt="<%= product.name %>" >
                    </a>
                </div>

                <div class="cajaArticulo">
                    <div class="cajanombre">
                        <p class="nombre"><strong><%= product.product_name %></strong></p>
                    </div>
                    <div class="cajadetalle">
                        <p class="precio">$ <%= product.price %>.00</p>
                        <br>
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div> 
            </div>
                <% }) %>
            </section>
            
        </section>

        <%- include ('../partials/newsletter') %>
    </main>

        <%- include ('../partials/footer') %>

</body>

</html>