<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head') %>
    </head>
    
    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <div class="banner">
            <div class="capa"></div>
                <div class="info">
                    <p>"Si le tienes miedo al fracaso, no mereces tener éxito"</p>
                </div>
        </div>
        
        <section class="nuevos-ingresos">
            <h3>Resto del Mundo</h3>
            <% restoDelMundo.forEach(function(product){ 
                let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
            %>
            <section class="articulos-nuevos">
                <div class="articulo">
                    <img class="imagenarticulo" src="/img/products/<%= product.image %>"" alt="<%= product.name %>" >
                    <div class="cajaArticulo">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio"><%= product.product_price %></p>
                        <p class="talle">talle <%= product.product_size %></p>
                        <p class="descripcion"><strong><%= product.product_name %></strong></p>
                    </div> 
                </div>
            
            </section>
            <% }) %>
        </section>
        <%- include ('../partials/newsletter') %>
    </main>

        <%- include ('../partials/footer') %>

</body>

</html>