<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head') %>
    </head>
    
    <body>
        <%- include ('../partials/header') %>
    
    <main>
        <section class="usuariosLista">
            <h3>Bienvenido <%= userLogged.firstName %> </h3>

            <section class="usuariosList">
                <div class="tarjetaUsuario">
                    <div class="imagenUsuario">
                        <img class="fotoUsuario" src="../img/usuarios/<%= userLogged.image %>" alt="<%= userLogged.lastName %>" >
                    </div>
                    <div class="cajaArticuloList">
                        <h4 class="name"><%= userLogged.firstName %> <%= userLogged.lastName %></h4>
                        <p class="email">Email: <%= userLogged.email %></p>
                        <p class="address">Domicilio: <%= userLogged.address %></p>
                        <p class="residencia">Pais de Residencia: <%= userLogged.residencia %> </p>
                        <p class="birth_date">Fecha de nacimiento: <%= userLogged.birth_date %> </p>
                        <p class="intereses">Equipo: <%= userLogged.intereses %></p>
                        </div>
                    </div> 
                </div> 

                <div class="registrarse">
                    <a href="./logout"> Cerrar sesion</a>
                </div> 
                
                
            </section>
        </section>


    </main>

        <%- include ('../partials/footer') %>

</body>

</html>