<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include ('../partials/head') %>
    
    </head>

    <body>
        <%- include ('../partials/header') %>
    
        <main>
            <section class="usuariosLista">
                <h3>Listado de Usuarios</h3>
                <% usuarios.forEach (function (usuarios){ %>

                <section class="usuariosList">
                    <div class="tarjetaUsuario">
                        <div class="imagenUsuario">
                            <img class="fotoUsuario" src="../img/usuarios/<%= usuarios.image %>" alt="<%= usuarios.lastName %>" >
                        </div>
                        <div class="cajaArticuloList">
                            <h4 class="name"><%= usuarios.firstName %> <%= usuarios.lastName %></h4>
                            <p class="email">Email: <%= usuarios.email %></p>
                            <p class="address">Domicilio: <%= usuarios.address %></p>
                            <p class="residencia">Pais de Residencia: <%= usuarios.residencia %> </p>
                            <p class="birth_date">Fecha de nacimiento: <%= usuarios.birth_date %> </p>
                            <p class="intereses">Equipo: <%= usuarios.intereses %></p>
                            </div>
                        </div> 
                    </div>                
                </section>
                <% }) %>

            </section>
        </main>
    
    </body>
    
    </html>